page-conf-acc {
  ion-content{
    border: 1px solid #FFD700;
  }
  ion-content{
    background: url(../assets/imgs/login_bg.jpg) no-repeat center fixed;
    background-size: cover;
  }
  .blur-landing {
    position: fixed;
    height: 100%;
    width: 100%;
    //  background-color: rgba(3, 33, 57, 0.90);
    background: #e3e3e3;
    padding-top: 0px;
    z-index: 0;
  }
  .presentation {
    position: fixed;
    padding: 80px 30px;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
  }
  img{
    height: 125px;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  ion-card{
    margin-bottom: 10px;
    background: #000;
  }
  h3{
    text-align: center;
  }

  .bottom p {
    text-align: center;
    color: #ffd700;
  }
  .bottom p > strong{
    color: #0f0f0f;
  }
}
