<ion-header>

    <ion-navbar>
        <ion-title>Stories</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="storiesOptions()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-card *ngIf="!showStories || networkError">
        <ion-card-header>
            <strong>
                <span>YOUTH</span>AMP
            </strong>
        </ion-card-header>
        <ion-card-content>
            {{ statusMessage }}
        </ion-card-content>
    </ion-card>

    <ion-list *ngIf="showStories">
        <ion-item *ngFor="let story of stories" (click)="openStory(story)">
            <ion-avatar item-start>
                <img src="assets/imgs/user.png">
            </ion-avatar>
            <h2>
                {{ story.sender }}
            </h2>
            <h3>
                <small id="capsIt">
                    {{ story.category }}
                </small>
            </h3>
            <p>
                {{ story.title }}
            </p>
            <ion-note item-end>
                <small>
                    {{ story.time }}
                </small>
            </ion-note>
            <p>
                <button ion-button icon-start outline small color="dark">
                    <ion-icon name="eye"></ion-icon>
                    {{ story.views }}
                </button>
                <button ion-button icon-start outline small color="dark">
                    <ion-icon name="thumbs-up"></ion-icon>
                    {{ story.likes }}
                </button>
            <!--    <button ion-button icon-start small color="gold" (click)="shareStory(story)">
                    <ion-icon name="share"></ion-icon>
                </button>-->
            </p>
        </ion-item>
    </ion-list>

    <button ion-button icon-start small outline round
            color="dark"
            id="loadMore"
            *ngIf="showLoadMore"
            (click)="refreshStories()">
        <ion-icon name="refresh"></ion-icon>
        LOAD MORE
    </button>

</ion-content>
