page-privacy-policy {
  strong span{
    color: #FFa500;
  }

  #list {
    width: 100%;
  }
  #list ol{
    margin-left: 0px;
  }
  #list ol li {
    text-align: left;
    list-style: disc;
    margin: 10px 0px;
  }
}
