<ion-header>

  <ion-navbar>
    <ion-title>Story</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="storyOptions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card *ngIf="story.title">
    <ion-card-header>
      Title
    </ion-card-header>
    <ion-card-content>
      {{ story.title }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="story.category">
    <ion-card-header>
      Category
    </ion-card-header>
    <ion-card-content>
      {{ story.category }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="story.story">
    <ion-card-header>
      Story
    </ion-card-header>
    <ion-card-content>
      {{ story.story }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="story.time && story.created_at">
    <ion-card-header>
      Posted
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ story.time }}
      </p>
      {{ story.created_at }}
    </ion-card-content>
  </ion-card>
</ion-content>
